
/* select - 2 start css  */


.select-box-dropdown {
    position: relative;
    width: 100%;
}

.select-box-dropdown select {
    display: none;
}

.select-dropdown-selected {
    padding: 6px;
    font-size: 12px;
    border: 1px solid var(--gray);
    border-radius: 8px;
    outline: none;
    color: var(--gray);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.select-dropdown-selected .icon {
    transition: transform 0.3s;
}

.select-dropdown-items {
    position: absolute;
    background-color: #fff;
    border: 1px solid #ccc;
    width: 100%;
    padding: 10px;
    z-index: 1000;
    display: none;
    max-height: 200px;
    overflow-y: auto;
    top: 100%;
}

.select-dropdown-items::-webkit-scrollbar {
    width: 8px;
    background-color: #e6e3e3e5;
    cursor: pointer;
}

.select-dropdown-items::-webkit-scrollbar-thumb {
    background: #15803d;
    ;
    width: 8px;
    border-radius: 5px;
    border-color: none !important;
}

.select-dropdown-items #CustomerSelectData .dropdown-item {
    padding: 10px;
    cursor: pointer;
    border-radius: 4px;
}

.select-dropdown-items #CustomerSelectData .dropdown-item:hover {
    background: #15803d;
    color: white;
}

.select-search-box {
    padding: 8px 12px;
    width: 100%;
    box-sizing: border-box;
    border-bottom: 1px solid #ccc;
    position: sticky;
    top: 0;
    background-color: #fff;
    z-index: 1;
    display: none;
    /* Initially hide the search input */
}

.show {
    display: block;
}

/* Rotate the icon when the dropdown is open */
.select-dropdown-items.show+.select-dropdown-selected .icon {
    transform: rotate(180deg);
}

.select-dropdown-selected .icon {
    top: 0px !important;
}

/* select - 2 start end  */
